@charset "UTF-8";

// Variables


// Reset
html, body, img, h1, h2, h3, h4, p, ul, li, dl, dd, dt, span, a, textarea, input {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Base styles
 .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
          }

        .introduction {
          position: relative;
          background-color: #FAFBF3;
          padding: 20px;
          border-radius: 8px;
          margin-bottom: 30px;
          
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: repeating-linear-gradient(
              90deg,
              transparent,
              transparent 30px,
              rgba(102, 76, 65, 0.2) 30px,
              rgba(102, 76, 65, 0.2) 31px
            );
            z-index: 0;
            border-radius: 8px;
          }
          
          p {
            position: relative;
            z-index: 1;
          }
        }
        
// Common styles

